.more-about {
    .container {
        display: grid;
        // cSpell: disable
        grid-template-columns: minmax(200px, 450px) 1fr;
        grid-template-rows: minmax(200px, 300px) 60px;
        padding: 80px 0;

        @include breakpoint(tablet) {
            grid-template-columns: 1fr;
            grid-template-rows: fit-content(200px) 100px 250px;
            padding: 40px 15px;
        }

        @include breakpoint(mobile) {
            grid-template-columns: 1fr;
            grid-template-rows: fit-content(200px) 100px 250px;
            padding: 40px 15px;
        }

        .more-about__portrait {
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            @include breakpoint(tablet) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            @include breakpoint(mobile) {
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }

            .portrait-img {
                display: block;
                width: 100%;
                border-radius: 5px;

                @include breakpoint(tablet) {
                    margin: auto;
                    width: 70%;
                }

                @include breakpoint(mobile) {
                    margin: auto;
                    width: 70%;
                }
            }
        }

        .more-about__social {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 75%;
            margin: 0 auto;

            @include breakpoint(tablet) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            @include breakpoint(mobile) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
            }

            .social {
                position: relative;
                width: 40px;
                height: 40px;
                background-color: $lightGray;
                border-radius: 50%;
                transition: .5s;

                [class^="svg"] {
                    @include centerByPosition(absolute, 50%, 50%, -50%, -50%);
                    @include iConSetUp($s-size, $dark-gray);
                    transition: .3s;
                }

                &:hover {
                    background-color: $dark-gray;
                    transform: scale(1.2);
                    cursor: pointer;

                    [class^="svg"] {
                        color: $white;
                        transform: scale(1.2);
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }

        .more-about__describe {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            padding: 25px 0 15px 70px;

            @include breakpoint(bigTabs) {
                grid-row: 1 / span 2;
                padding: 0 0 0 40px;
            }

            @include breakpoint(tablet) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                text-align: center;
                padding: 0 15px;
            }

            @include breakpoint(mobile) {
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                text-align: center;
                padding: 0 15px;
            }

            .more-about__profession {
                margin-top: 15px;
                font-family: $titleFont;
                font-size: $s-size;
                color: $gray;
                letter-spacing: .1rem;
            }

            .section__paragraph {
                &.--more-about {
                    margin-top: 15px;
                }
            }
        }
    }
}