#contact {
    height: 70vh;
    padding: 80px 0;
    background-color: $lightGray;

    .container {
        display: grid;
        grid-template-rows: 120px 330px;
        grid-template-columns: 1fr 525px;

        @include breakpoint(bigTabs) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(tablet) {
            grid-template-columns: 1fr;
        }

        @include breakpoint(mobile) {
            grid-template-columns: 1fr;
        }
    }

    .contact-describe {
        grid-row: 1;
        grid-column: 1;
        opacity: 0;

        @include breakpoint(tablet) {
            padding: 0 15px;
        }

        @include breakpoint(mobile) {
            padding: 0 15px;
        }

        &.animated {
            animation: fadeInOutLTR 1s forwards;
        }
    }

    .form-cnt {
        grid-row: 2 / span 2;
        grid-column: 1;
        opacity: 0;

        @include breakpoint(tablet) {
            padding: 0 15px;
        }

        @include breakpoint(mobile) {
            padding: 0 15px;
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 100%;


            .form-control {
                width: 46%;
                height: 50px;
                font-family: $textFont;
                font-size: $s-size;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $gray;
                box-shadow: none;
                outline: none;
            }

            textarea {
                width: 100%;
                height: 150px;
                font-family: $textFont;
                font-size: $s-size;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $gray;
                box-shadow: none;
                resize: none;
                outline: none;
            }

            .off-set {
                width: 70%;
                visibility: hidden;

                @include breakpoint(bigTabs) {
                    width: 60%;
                }

                @include breakpoint(tablet) {
                    display: none;
                }

                @include breakpoint(mobile) {
                    display: none;
                }

            }

            .btn {
                &.--btn-form {
                    width: 30%;
                    height: 50px;
                    background-color: $dark-gray;
                    color: $white;
                    border: none;

                    @include breakpoint(bigTabs) {
                        width: 40%;
                    }

                    @include breakpoint(tablet) {
                        width: 40%;
                        margin: 0 auto;
                    }

                    @include breakpoint(mobile) {
                        width: 40%;
                        margin: 0 auto;
                    }

                    &:hover {
                        background-color: $pastel-violet;
                        cursor: pointer;
                    }
                }
            }
        }

        &.animated {
            animation: fadeInOutLTR 1s .25s forwards;
        }
    }

    .contact-info {
        grid-row: 2;
        grid-column: 2;
        margin-left: 40px;
        opacity: 0;

        @include breakpoint(tablet) {
            display: none;
        }

        @include breakpoint(mobile) {
            display: none;
        }

        .section__paragraph {
            &.--contact {
                margin-bottom: 50px;
            }
        }

        .contact-details {
            .section__paragraph {
                margin-bottom: 15px;

                &.--email {
                    display: inline-block;
                    text-decoration: none;
                }

                [class^="svg"] {
                    margin-right: 10px;
                }
            }
        }

        &.animated {
            animation: fadeInOutRTF 1s forwards;
        }
    }
}