#footer {
    background-color: $pastel-violet;
    height: 30vh;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .notice {
            font-family: $titleFont;
            font-size: $s-size;
            margin-bottom: 50px;
            color: $white;
            letter-spacing: .1rem;
        }

        .footer__social {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 30%;
            margin: 0 auto;

            .social {
                position: relative;
                width: 40px;
                height: 40px;
                background-color: $lightGray;
                border-radius: 50%;
                transition: .5s;

                [class^="svg"] {
                    @include centerByPosition(absolute, 50%, 50%, -50%, -50%);
                    @include iConSetUp($s-size, $dark-gray);
                    transition: .5s;
                }

                &:hover {
                    background-color: $dark-gray;
                    transform: scale(1.2);
                    cursor: pointer;

                    [class^="svg"] {
                        color: $white;
                        transform: scale(1.2);
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}